<!-- footer --><!-- footer --><!-- footer --><!-- footer -->
<footer id="footer" role="contentinfo" itemscope="itemscope" itemtype="http://schema.org/CollegeOrUniversity">
  <div class="row pad">
    <p class="tagline">Fulfilling <span>the</span> Promise</p>
    <p class="signature">
      <a href="https://www.iu.edu" class="signature-link">Indiana University</a>
    </p>
    <p class="copyright">
          <span class="copy"><img src="//assets.iu.edu/brand/2.x/trident-small.png" alt="Indiana University">
        <a href="https://www.iu.edu/copyright/index.html">Copyright</a> &#169; <%= Time.current.year %> <span class="line-break-small">The Trustees of <a href="https://www.iu.edu/" itemprop="url"><span itemprop="name">Indiana University</span></a></span></span>
      <span class="line-break"><a href="/privacy" id="privacy-policy-link">Privacy Notice</a> | <a href="https://accessibility.iu.edu" id="accessibility-link" title="Having trouble accessing this web page because of a disability? Visit this page for assistance.">Accessibility</a></span>
    </p>
  </div>
</footer>
